.v-grid-12 {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(12, 1fr);
}
.v-grid-12 .col,
.v-grid-12 .col-sm-1,
.v-grid-12 .col-sm-2,
.v-grid-12 .col-sm-3,
.v-grid-12 .col-sm-4,
.v-grid-12 .col-sm-5,
.v-grid-12 .col-sm-6,
.v-grid-12 .col-sm-7,
.v-grid-12 .col-sm-8,
.v-grid-12 .col-sm-9,
.v-grid-12 .col-sm-10,
.v-grid-12 .col-sm-11,
.v-grid-12 .col-md-1,
.v-grid-12 .col-md-2,
.v-grid-12 .col-md-3,
.v-grid-12 .col-md-4,
.v-grid-12 .col-md-5,
.v-grid-12 .col-md-6,
.v-grid-12 .col-md-7,
.v-grid-12 .col-md-8,
.v-grid-12 .col-md-9,
.v-grid-12 .col-md-10,
.v-grid-12 .col-md-11,
.v-grid-12 .col-lg-1,
.v-grid-12 .col-lg-2,
.v-grid-12 .col-lg-3,
.v-grid-12 .col-lg-4,
.v-grid-12 .col-lg-5,
.v-grid-12 .col-lg-6,
.v-grid-12 .col-lg-7,
.v-grid-12 .col-lg-8,
.v-grid-12 .col-lg-9,
.v-grid-12 .col-lg-10,
.v-grid-12 .col-lg-11,
.v-grid-12 .col-xl-1,
.v-grid-12 .col-xl-2,
.v-grid-12 .col-xl-3,
.v-grid-12 .col-xl-4,
.v-grid-12 .col-xl-5,
.v-grid-12 .col-xl-6,
.v-grid-12 .col-xl-7,
.v-grid-12 .col-xl-8,
.v-grid-12 .col-xl-9,
.v-grid-12 .col-xl-10,
.v-grid-12 .col-xl-11 {
  grid-column: span 12;
}
@media (min-width: 500px) {
  .v-grid-12 .col-sm-1 {
    grid-column: span 1;
  }
  .v-grid-12 .col-sm-2 {
    grid-column: span 2;
  }
  .v-grid-12 .col-sm-3 {
    grid-column: span 3;
  }
  .v-grid-12 .col-sm-4 {
    grid-column: span 4;
  }
  .v-grid-12 .col-sm-5 {
    grid-column: span 5;
  }
  .v-grid-12 .col-sm-6 {
    grid-column: span 6;
  }
  .v-grid-12 .col-sm-7 {
    grid-column: span 7;
  }
  .v-grid-12 .col-sm-8 {
    grid-column: span 8;
  }
  .v-grid-12 .col-sm-9 {
    grid-column: span 9;
  }
  .v-grid-12 .col-sm-10 {
    grid-column: span 10;
  }
  .v-grid-12 .col-sm-11 {
    grid-column: span 11;
  }
}
@media (min-width: 768px) {
  .v-grid-12 .col-md-1 {
    grid-column: span 1;
  }
  .v-grid-12 .col-md-2 {
    grid-column: span 2;
  }
  .v-grid-12 .col-md-3 {
    grid-column: span 3;
  }
  .v-grid-12 .col-md-4 {
    grid-column: span 4;
  }
  .v-grid-12 .col-md-5 {
    grid-column: span 5;
  }
  .v-grid-12 .col-md-6 {
    grid-column: span 6;
  }
  .v-grid-12 .col-md-7 {
    grid-column: span 7;
  }
  .v-grid-12 .col-md-8 {
    grid-column: span 8;
  }
  .v-grid-12 .col-md-9 {
    grid-column: span 9;
  }
  .v-grid-12 .col-md-10 {
    grid-column: span 10;
  }
  .v-grid-12 .col-md-11 {
    grid-column: span 11;
  }
}
@media (min-width: 1024px) {
  .v-grid-12 .col-lg-1 {
    grid-column: span 1;
  }
  .v-grid-12 .col-lg-2 {
    grid-column: span 2;
  }
  .v-grid-12 .col-lg-3 {
    grid-column: span 3;
  }
  .v-grid-12 .col-lg-4 {
    grid-column: span 4;
  }
  .v-grid-12 .col-lg-5 {
    grid-column: span 5;
  }
  .v-grid-12 .col-lg-6 {
    grid-column: span 6;
  }
  .v-grid-12 .col-lg-7 {
    grid-column: span 7;
  }
  .v-grid-12 .col-lg-8 {
    grid-column: span 8;
  }
  .v-grid-12 .col-lg-9 {
    grid-column: span 9;
  }
  .v-grid-12 .col-lg-10 {
    grid-column: span 10;
  }
  .v-grid-12 .col-lg-11 {
    grid-column: span 11;
  }
}
@media (min-width: 1280px) {
  .v-grid-12 .col-xl-1 {
    grid-column: span 1;
  }
  .v-grid-12 .col-xl-2 {
    grid-column: span 2;
  }
  .v-grid-12 .col-xl-3 {
    grid-column: span 3;
  }
  .v-grid-12 .col-xl-4 {
    grid-column: span 4;
  }
  .v-grid-12 .col-xl-5 {
    grid-column: span 5;
  }
  .v-grid-12 .col-xl-6 {
    grid-column: span 6;
  }
  .v-grid-12 .col-xl-7 {
    grid-column: span 7;
  }
  .v-grid-12 .col-xl-8 {
    grid-column: span 8;
  }
  .v-grid-12 .col-xl-9 {
    grid-column: span 9;
  }
  .v-grid-12 .col-xl-10 {
    grid-column: span 10;
  }
  .v-grid-12 .col-xl-11 {
    grid-column: span 11;
  }
}

.v-grid-10 {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 15px;
}
.v-grid-10 .col,
.v-grid-10 .col-sm-1,
.v-grid-10 .col-sm-2,
.v-grid-10 .col-sm-3,
.v-grid-10 .col-sm-4,
.v-grid-10 .col-sm-5,
.v-grid-10 .col-sm-6,
.v-grid-10 .col-sm-7,
.v-grid-10 .col-sm-8,
.v-grid-10 .col-sm-9,
.v-grid-10 .col-sm-10,
.v-grid-10 .col-sm-11,
.v-grid-10 .col-md-1,
.v-grid-10 .col-md-2,
.v-grid-10 .col-md-3,
.v-grid-10 .col-md-4,
.v-grid-10 .col-md-5,
.v-grid-10 .col-md-6,
.v-grid-10 .col-md-7,
.v-grid-10 .col-md-8,
.v-grid-10 .col-md-9,
.v-grid-10 .col-md-10,
.v-grid-10 .col-md-11,
.v-grid-10 .col-lg-1,
.v-grid-10 .col-lg-2,
.v-grid-10 .col-lg-3,
.v-grid-10 .col-lg-4,
.v-grid-10 .col-lg-5,
.v-grid-10 .col-lg-6,
.v-grid-10 .col-lg-7,
.v-grid-10 .col-lg-8,
.v-grid-10 .col-lg-9,
.v-grid-10 .col-lg-10,
.v-grid-10 .col-lg-11,
.v-grid-10 .col-xl-1,
.v-grid-10 .col-xl-2,
.v-grid-10 .col-xl-3,
.v-grid-10 .col-xl-4,
.v-grid-10 .col-xl-5,
.v-grid-10 .col-xl-6,
.v-grid-10 .col-xl-7,
.v-grid-10 .col-xl-8,
.v-grid-10 .col-xl-9,
.v-grid-10 .col-xl-10,
.v-grid-10 .col-xl-11 {
  grid-column: span 10;
}
@media (min-width: 500px) {
  .v-grid-10 .col-sm-1 {
    grid-column: span 1;
  }
  .v-grid-10 .col-sm-2 {
    grid-column: span 2;
  }
  .v-grid-10 .col-sm-3 {
    grid-column: span 3;
  }
  .v-grid-10 .col-sm-4 {
    grid-column: span 4;
  }
  .v-grid-10 .col-sm-5 {
    grid-column: span 5;
  }
  .v-grid-10 .col-sm-6 {
    grid-column: span 6;
  }
  .v-grid-10 .col-sm-7 {
    grid-column: span 7;
  }
  .v-grid-10 .col-sm-8 {
    grid-column: span 8;
  }
  .v-grid-10 .col-sm-9 {
    grid-column: span 9;
  }
}
@media (min-width: 768px) {
  .v-grid-10 .col-md-1 {
    grid-column: span 1;
  }
  .v-grid-10 .col-md-2 {
    grid-column: span 2;
  }
  .v-grid-10 .col-md-3 {
    grid-column: span 3;
  }
  .v-grid-10 .col-md-4 {
    grid-column: span 4;
  }
  .v-grid-10 .col-md-5 {
    grid-column: span 5;
  }
  .v-grid-10 .col-md-6 {
    grid-column: span 6;
  }
  .v-grid-10 .col-md-7 {
    grid-column: span 7;
  }
  .v-grid-10 .col-md-8 {
    grid-column: span 8;
  }
  .v-grid-10 .col-md-9 {
    grid-column: span 9;
  }
}
@media (min-width: 1024px) {
  .v-grid-10 .col-lg-1 {
    grid-column: span 1;
  }
  .v-grid-10 .col-lg-2 {
    grid-column: span 2;
  }
  .v-grid-10 .col-lg-3 {
    grid-column: span 3;
  }
  .v-grid-10 .col-lg-4 {
    grid-column: span 4;
  }
  .v-grid-10 .col-lg-5 {
    grid-column: span 5;
  }
  .v-grid-10 .col-lg-6 {
    grid-column: span 6;
  }
  .v-grid-10 .col-lg-7 {
    grid-column: span 7;
  }
  .v-grid-10 .col-lg-8 {
    grid-column: span 8;
  }
  .v-grid-10 .col-lg-9 {
    grid-column: span 9;
  }
}
@media (min-width: 1280px) {
  .v-grid-10 .col-xl-1 {
    grid-column: span 1;
  }
  .v-grid-10 .col-xl-2 {
    grid-column: span 2;
  }
  .v-grid-10 .col-xl-3 {
    grid-column: span 3;
  }
  .v-grid-10 .col-xl-4 {
    grid-column: span 4;
  }
  .v-grid-10 .col-xl-5 {
    grid-column: span 5;
  }
  .v-grid-10 .col-xl-6 {
    grid-column: span 6;
  }
  .v-grid-10 .col-xl-7 {
    grid-column: span 7;
  }
  .v-grid-10 .col-xl-8 {
    grid-column: span 8;
  }
  .v-grid-10 .col-xl-9 {
    grid-column: span 9;
  }
}

.v-contained {
  margin-inline: auto;
  max-width: 1024px;
}
@media (min-width: 1280px) {
  .v-contained {
    max-width: 1280px;
  }
}/*# sourceMappingURL=virtuoso.css.map */