div[class^="sm-"],
div[class^="md-"],
div[class^="lg-"],
.all-12 {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  margin: 15px 0;
}

.sm-3-9 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-3-9 {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

.md-3-9 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-3-9 {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

.lg-3-9 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-3-9 {
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

.sm-3-6-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-3-6-3 {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

.md-3-6-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-3-6-3 {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

.lg-3-6-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-3-6-3 {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

.sm-9-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-9-3 {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
}

.md-9-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-9-3 {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
}

.lg-9-3 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-9-3 {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
}

.sm-4-8 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-4-8 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.md-4-8 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-4-8 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.lg-4-8 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-4-8 {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.sm-8-4 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-8-4 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.md-8-4 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-8-4 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.lg-8-4 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-8-4 {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
}

.sm-eq {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .sm-eq {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.md-eq {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .md-eq {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}

.lg-eq {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 1200px) {
  .lg-eq {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }
}
/*# sourceMappingURL=virtuoso.css.map */